* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 40px * 2);
    background-color: rgb(28, 23, 23);
    padding: 40px;
    gap: 20px;
    color: #fff;
}

.fire-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

table {
    border-collapse: collapse;
    border: 1px solid #000;

    td {
        width: 8px;
        height: 8px;
        text-align: center;
        vertical-align: center;
        font-family: monospace;
        font-size: 10px;
        position: relative;
        border: 1px solid #000;

        &.debug-mode {
            width: 6px;
            height: 6px;
            padding: 8px;
        }

        .pixel {
            width: 4px;
            height: 4px;
            border: 0;
        }
    }

    .pixel-index {
        width: 8px;
        height: 8px;
        font-size: 5px;
        display: inline-block;
        position: absolute;
        top: 2px;
        right: 2px;
        font-size: 5px;
    }
}

.color-palette-container {
    display: flex;

    .color-palette-pixel {
        width: 8px;
        height: 8px;
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;

        &:last-child {
            border: 1px solid #000;
        }
    }
}