* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #0f0f0f;
}

.fire-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

table {
    border-collapse: collapse;

    td {
        width: 8px;
        height: 8px;
        text-align: center;
        vertical-align: center;
        font-family: monospace;
        font-size: 18px;
        position: relative;

        .pixel-index {
            width: 8px;
            height: 8px;
            font-size: 10px;
            display: inline-block;
            position: absolute;
            top: 2px;
            right: 2px;
            color: #999;
            font-size: 5px;
        }

        .pixel {
            width: 4px;
            height: 4px;
            border: 0;
        }
    }
}